<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hempDATA Formulare</title>
</head>
<body>
<h1>Alle Eingabeformulare</h1>

<h2>Prozessdaten</h2>
<ul>
    <li><a href="{% url 'historical_data_form' %}">Historische Daten</a></li>
    <li><a href="{% url 'historical_data_form' %}">Bodenvorbereitung</a></li>
    <li><a href="{% url 'historical_data_form' %}">Düngung</a></li>
    <li><a href="{% url 'historical_data_form' %}">Aussaat</a></li>
    <li><a href="{% url 'historical_data_form' %}">Ernte</a></li>
    <li><a href="{% url 'historical_data_form' %}">Konditionierung</a></li>
    <li><a href="{% url 'historical_data_form' %}">Ballen</a></li>

</ul>

<h2>Bestandspflege</h2>
<ul>
    <li><a href="{% url 'historical_data_form' %}">Kopfschnitt</a></li>
    <li><a href="{% url 'historical_data_form' %}">Unkrautbekämpfung - Mechanisch</a></li>
    <li><a href="{% url 'historical_data_form' %}">Unkrautbekämpfung - Chemisch</a></li>

</ul>


<h2>Verlaufsanalytik</h2>
<ul>
    <li><a href="{% url 'historical_data_form' %}">Bodenanalyse</a></li>
    <li><a href="{% url 'historical_data_form' %}">Pflanzenmerkmale (unten)</a></li>

</ul>

</body>
</html>
